.custom-vis-layout.lnkd_prsn .autocomplete {
 position: relative;
 display: inline-block;
 }

.custom-vis-layout.lnkd_prsn .autocomplete-items {
 position: absolute;
 border-right: 1px solid rgb(212, 212, 212);
 border-left: 1px solid rgb(212, 212, 212);
 border-image: initial;
 border-bottom: none;
 border-top: none;
 z-index: 99;
 top: 100%;
 left: 0px;
 right: 0px;
 }

.custom-vis-layout.lnkd_prsn .autocomplete-items div {
 padding: 10px;
 cursor: pointer;
 background-color: rgb(255, 255, 255);
 border-bottom: 1px solid rgb(212, 212, 212);
 }

.custom-vis-layout.lnkd_prsn .autocomplete-items div:hover {
 background-color: rgb(233, 233, 233);
 }

p.commandSign:hover{
  text-decoration: underline;
  cursor: pointer;
}

p.commandSign.inactive{
  color: rgb(190, 190, 190);
  pointer-events: none;
}

p.commandSign.inactive:hover{
  cursor: auto;
}

.autocomplete-active {
  color: rgb(255, 255, 255);
  background-color: dodgerblue !important;
}
